:root {
  --left-div-bg: hsl(0deg 0% 0%);
  --header-div-bg: hsl(222deg 38.46% 5.1%);
  --body-div-bg: hsl(218.57deg 25.93% 10.59%);
  --footer-div-bg: hsl(0deg 0% 15.69%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
}

/* Utility classes */

/* Container che occupa tutta la pagina */
.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  /* debug */
  background-color: aquamarine;
}

/* Main row */
.main-row {
  display: flex;
  width: 100%;
  height: 100%;

  /* Non fa uscire il contenuto */
  overflow-y: hidden;
}

/* Div left menu */
.div-left-menu {
  height: 100%;
  width: 50px;
  background-color: var(--left-div-bg);
  color: white;
}

.div-left-menu .row {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Div Body */
.div-body {
  width: calc(100% - 50px);
  height: 100%;
  background-color: var(--body-div-bg);
  color: white;
  /* Permetto a .div body di scrollare verticalmente */
  overflow-y: auto;
}

/* Header Div */
.div-header {
  width: 100%;
  height: 70px;
  background-color: var(--header-div-bg);
  color: white;
  display: flex;
  justify-content: right;
  align-items: center;

  /* Padding per il button span */
  padding-right: 20px;
}

.div-header .btn {
  display: inline-block;
  font-size: 0.8rem;
  border: 1px solid white;

  /* Padding per arrotondare button */
  padding: 7px 20px 7px 20px;
  border-radius: 20px;
}

/* Genre list */
.genre-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  /* Uno dei padding principali del body */
  padding-top: 20px;
}

/* Grid dentro div body */
.div-body .row {
  /* Resto dei padding importanti del body */
  padding: 0 20px 20px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.div-body .row .col {
  gap: 10px;
  width: calc((100% - 20px) / 2);
  padding-bottom: 20px;
}

/* Media div */
.div-media {
  height: 70px;
  width: 100%;
  background-color: var(--footer-div-bg);
  color: white;
}

.div-media .row {
  display: flex;
  justify-content: space-between;
}

.col-50 {
  width: 50%;
}

.col-25 {
  width: 25%;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

/* Responsive CSS */

/* Telefono largo */
@media screen and (min-width: 425px) {
  /* Div left menu */
  .div-left-menu {
    height: 100%;
    width: 150px;
  }

  /* Div Body */
  .div-body {
    width: calc(100% - 150px);
    height: 100%;
    overflow: auto;
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
  .div-body .row .col {
    gap: 10px;
    width: calc((100% - 20px) / 4);
  }
  /* Btn text size */
  .div-header .btn {
    font-size: 1rem;
  }
}

/* PC */
@media screen and (min-width: 1024px) {
  .div-body .row .col {
    gap: 10px;
    width: calc((100% - 20px) / 6);
  }
}
