* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
}

/* Utility classes */

/* Container che occupa tutta la pagina */
.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  /* debug */
  background-color: aquamarine;
}

/* Main row */
.main-row {
  display: flex;
  width: 100%;
  height: 100%;

  /* Non fa uscire il contenuto */
  overflow-y: hidden;
}

/* Div left menu */
.div-left-menu {
  height: 100%;
  width: 50px;
  background-color: blue;
  color: white;
}

.div-left-menu .row {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Div Body */
.div-body {
  width: calc(100% - 50px);
  height: 100%;
  background-color: aliceblue;

  /* Permetto a .div body di scrollare verticalmente */
  overflow-y: auto;
}

/* Header Div */
.div-header {
  width: 100%;
  height: 70px;
  background-color: burlywood;
  display: flex;
  justify-content: right;
  align-items: center;

  /* Padding per il button span */
  padding-right: 20px;
}

.div-header .btn {
  display: inline-block;
  border: 1px solid black;

  /* Padding per arrotondare button */
  padding: 7px 20px 7px 20px;
  border-radius: 20px;
}

/* Genre list */
.genre-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  /* Uno dei padding principali del body */
  padding-top: 20px;
}

/* Grid dentro div body */
.div-body .row {
  /* Resto dei padding importanti del body */
  padding: 0 20px 20px 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.div-body .row .col {
  width: calc((100% - 20px) / 2);
}

/* Media div */
.div-media {
  height: 70px;
  width: 100%;
  background-color: black;
  color: white;
}

.div-media .row {
  display: flex;
  justify-content: space-between;
}

.col-50 {
  width: 50%;
}

.col-25 {
  width: 25%;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

/* Responsive CSS */

@media screen and (min-width: 425px) {
  /* Div left menu */
  .div-left-menu {
    height: 100%;
    width: 150px;
    background-color: blue;
  }

  /* Div Body */
  .div-body {
    width: calc(100% - 150px);
    height: 100%;
    background-color: aliceblue;

    overflow: auto;
  }
}
