:root {
  --left-div-bg: hsl(0deg 0% 0%);
  --header-div-bg: hsl(222deg 38.46% 5.1%);
  --body-div-bg: hsl(218.57deg 25.93% 10.59%);
  --footer-div-bg: hsl(0deg 0% 15.69%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
}

/* Utility classes */

/* Container che occupa tutta la pagina */
.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  /* debug */
  background-color: aquamarine;
}

/* Main row */
.main-row {
  display: flex;
  width: 100%;
  height: 100%;

  /* Non fa uscire il contenuto */
  overflow-y: hidden;
}

/* Div left menu */
.div-left-menu {
  height: 100%;
  width: 50px;
  background-color: var(--left-div-bg);
  color: white;
}

.div-left-menu .row {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Div Body */
.div-body {
  width: calc(100% - 50px);
  height: 100%;
  background-color: var(--body-div-bg);
  color: white;
  /* Permetto a .div body di scrollare verticalmente */
  overflow-y: auto;
}

/* Header Div */
.div-header {
  width: 100%;
  height: 70px;
  background-color: var(--header-div-bg);
  color: white;
  display: flex;
  justify-content: right;
  align-items: center;

  /* Padding per il button span */
  padding-right: 20px;
}

/* Button in div header */
.div-header .btn {
  display: inline-block;
  font-size: 0.8rem;
  border: 1px solid white;
  padding: 7px 20px;
  border-radius: 20px;
}

/* Genre list */
.genre-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  /* Uno dei padding principali del body */
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 15px;
}

.genre-list li {
  padding-right: 10px;
  padding-bottom: 20px;
  color: gray;
  font-weight: bold;
  font-size: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.li-verde {
  display: none;
  border: 1px solid rgb(0, 255, 0);
  width: 40%;
}

/* Grid dentro div body */
.title-c {
  padding-bottom: 20px;
  padding-left: 20px;
  font-weight: bold;
}

.title-p {
  padding-bottom: 20px;
  padding-left: 20px;
  color: gray;
}

.card img {
  padding-bottom: 10px;
  display: block;
}

.overlay-div {
  position: relative;
}

.card .overlay-img {
  position: absolute;
  top: 30%;
  left: 40%;
  z-index: -1;
  color: yellow;
  font-size: 5rem;
}

/* Immagini tonde ... */

.row.third img {
  width: 100%;
  /* Fa si che l'immagine rimanga quadrata */
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
}

.div-body .row {
  /* Resto dei padding importanti del body */
  padding: 0 20px 20px 20px;
  display: flex;

  flex-wrap: wrap;
}

.div-body .row .col {
  width: calc((100% - 20px) / 2);
  padding-bottom: 20px;
  padding-right: 10px;
}

/* Media div */
.div-media {
  height: 70px;
  width: 100%;
  background-color: var(--footer-div-bg);
  color: white;
}

.div-media .row {
  display: flex;
  justify-content: space-between;
}

.card {
  text-align: center;
}

.card h3 {
  font-size: 1rem;
}

.card span {
  font-size: 0.8rem;
  color: gray;
}

.col-50 {
  width: 50%;
}

.col-25 {
  width: 25%;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

/* Responsive CSS */

/* Telefono largo */
@media screen and (min-width: 425px) {
  /* Div left menu */
  .div-left-menu {
    height: 100%;
    width: 150px;
  }

  /* Div Body */
  .div-body {
    width: calc(100% - 150px);
    height: 100%;
    overflow: auto;
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
  .div-body .row .col {
    gap: 10px;
    width: calc((100% - 20px) / 4);
  }
  /* Btn text size */
  .div-header .btn {
    font-size: 1rem;
  }
  .genre-list li {
    font-size: 0.8rem;
  }
}

/* PC */
@media screen and (min-width: 1024px) {
  .div-body .row .col {
    gap: 10px;
    width: calc((100% - 20px) / 6);
  }
  .genre-list li {
    font-size: 1rem;
    padding-right: 30px;
  }

  /* Gli hover effects li faccio solo dal Laptop in su */

  /* Effetto pop-up button*/
  .div-header .btn:hover {
    /* Aggiungi transizione per un effetto morbido */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    /* Ingrandisce leggermente il pulsante */
    transform: scale(1.1);
    /* Aggiunge un pò d'ombra per farlo sembrare rialzato*/
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  }

  /* Hover effect menu tendina */
  .genre-list li:hover .li-verde {
    display: block;
  }

  .genre-list li:hover {
    cursor: pointer;
  }

  h2.title-c {
    font-size: 2rem;
  }
  p.title-p {
    font-size: 1.5rem;
  }
  .card h3 {
    font-size: 1.4rem;
  }
  .card span {
    font-size: 1.2rem;
  }

  .overlay-div:hover {
    cursor: pointer;
  }

  .overlay-div:hover .overlay-img {
    z-index: +1;
  }
  .overlay-div:hover .normal-img {
    opacity: 0.5;
    transition: opacity 0.3s ease;
  }
}
